#root {
  margin: 0 auto;
}

.basic-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(13px, 1fr));
  width: 650px
}

.h1 {
  font-size: 130%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 13px;
  width: 13px;
  transition: all 0ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: rgb(126, 125, 125) 0px 0em 1.5em;
  transform: translateY(-1px);
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
